extends ../../layouts/default.pug
include ../../mixins/filter-buttons.pug
include ../../mixins/search-component.pug
include ../../mixins/list-products.pug
include ../../mixins/pagination.pug
include ../../mixins/box-action.pug
block content
    div(class="alert alert-success show-alert" ) Cập nhật trạng thái thành công
    h2 Quản lý sản phẩm
    .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-6
          //- Bộ lọc bên mixins
          +filter-status(buttonFilters)
        .col-6
          //- Tìm kiếm bên mixins
          +search(keyword)
    .card.mb-3
      .card-header Hành động
      .card-body
        +boxAction(`/${prefixAdmin}/products/change-multiple-status`)
    .card.mb-3
        .card-header Danh sách
        .card-body
            table.table.table-hover.table-sm
              thead
                tr
                    th
                      input(name="checkAll" type="checkbox")
                    th STT
                    th Hình ảnh
                    th Tiêu đề
                    th Vị trí
                    th Giá
                    th Trạng thái
                    th Hành động
              tbody
                //- Danh sách sản phẩm bên mixins
                +listProducts(Products)
    //- Phân trang bên mixins
    +pagination(pagination)
            
                        