extends ../../layouts/default.pug
block content 
    h2 #{title}
    .card.mb-3
        .card-header Danh sách
        .card-body
          div(class="text-right mb2")
            a(href=`/${prefixAdmin}/products-category/create` class="btn btn-outline-success") Thêm mới